<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="persona">
            <h2><span jhiTranslate="a08App.persona.detail.title">Persona</span> {{persona.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="a08App.persona.nombre">Nombre</span></dt>
                <dd>
                    <span>{{persona.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="a08App.persona.apellido">Apellido</span></dt>
                <dd>
                    <span>{{persona.apellido}}</span>
                </dd>
                <dt><span jhiTranslate="a08App.persona.edad">Edad</span></dt>
                <dd>
                    <span>{{persona.edad}}</span>
                </dd>
                <dt><span jhiTranslate="a08App.persona.sexo">Sexo</span></dt>
                <dd>
                    <span jhiTranslate="{{'a08App.Sexo.' + persona.sexo}}">{{persona.sexo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/persona', persona.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
